@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .family {
    //flex-direction: column;
    //justify-content: center;
  }
  .ferner {
    width: 498px;
    height: 395px;
  }
  .red {
    padding-left: 10px;
  }
  .family-p{
    width: 339px;
    font-size: 20px;
  }
  .family-h1 {
    font-size: 50px;
    width: 292px;
  }
  .family-h1 span {
    font-size: 50px;

  }
}
@media (max-width: 576px) {
  .ferner{
    width: 430px;
    height: 375px;
  }

  .family-h1 {
    font-size: 45px;

  }
  .family-h1 span {
    font-size: 45px;

  }
  .family-p {
    width: 300px;
    font-size: 18px;
  }
}