#command {
  .command__card {
    transition: all 1s;
    .cards__item {
      transition: 1s all;
      overflow: hidden;
      .command__messanger {
        display: none;
        opacity: 0;
        transition: all 1s;
      }
      &:hover {
        transition: all 1s;
        .cards__img {
          transform: scale(1.04);
          transition: all 0.5s;
        }
        .command__messanger {
          display: block;
          transition: all 1s;
          opacity: 1;
        }
      }
    }
  }
}
